.views-view-grid .views-row {
	padding-left: 70px;
	color:tomato ;
}
.nav > li {
	float: left;
	font-size: 20px;
}
.navbar-header {
    padding-left: 25px;
}
.nav > li > a {
	padding-right: 10px;
}
img {
    
    max-height: 700px;
}
.col-md-8 {
   
    padding-top: 30px;
}
.element {
    padding-bottom: 50px;
    padding-left: 400px;
    font-size: ;
    color: darkblue;
}
